<a href="https://colab.research.google.com/github/ggeteria2/streamlit-example/blob/master/Copy_of_moringa_final_ip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KENYA HEALTHCARE FACILITIES ANALYSIS

Good health is central to human happiness and well-being that contributes significantly to prosperity and wealth and even economic progress, as healthy populations are more productive, save more and live longer. In this project, we want to point out counties that are in dire need of attention from the government health sector and any other funding organizations in order to boost the general health care of the population.

# Loading our libraries

In [4]:
# importing pandas
import pandas as pd

# importing numpy 
import numpy as np

# Loading the dataset to our environment

In [5]:
# Loading the healthcare facilities dataset
url = 'https://africaopendata.org/dataset/3e95b5cb-39f5-44d3-94b6-f2d5285b0478/resource/0257f153-7228-49ef-b330-8e8ed3c7c7e8/download/ehealth-kenya-facilities-download-21102015.xls'

hospitals = pd.read_csv('/content/ehealth.csv')

In [6]:
# Preview the dataset 
hospitals.head()

   Facility Code                                Facility Name  ... TB TREAT YOUTH
0          19224                       CDF Kiriari Dispensary  ...      NaN   NaN
1          19310   St Jude's Huruma Community Health Services  ...      NaN   NaN
2          14180                              10 Engineer VCT  ...      NaN   NaN
3          17486                                 12 Engineers  ...      NaN   NaN
4          18393                 3Kl Maternity & Nursing Home  ...      NaN   NaN

[5 rows x 50 columns]

In [7]:
# Loading the number of icubeds per county dataset
url = 'https://data.humdata.org/dataset/e231c2f5-11c6-4006-b0f8-f6cb41410b30/resource/57af4fb4-1141-41aa-a5f8-a92ccd5663c9/download/number-of-icu-beds-per-county.xlsx'

icubeds = pd.read_excel(url)

In [8]:
# Preview icubeds dataset
icubeds.head(0)
#icubeds.isnull().sum()
#np.count_nonzero(icubeds['Unnamed: 3'].isnull())
icubeds.loc[icubeds['Number of Hospital ICU Beds per county'] == 'Bomet']

    Unnamed: 0 Number of Hospital ICU Beds per county Unnamed: 2 Unnamed: 3
58         NaN                                  Bomet    Longisa          0
59         NaN                                  Bomet     Tenwek        NaN

In [9]:
# Loading health staff dataset per 10000 population
url = 'https://open.africa/dataset/4acc4709-cd40-43da-ad95-3b4a1224f97c/resource/43cea114-a929-4984-bd1c-b665d4a7ea5e/download/cfafrica-_-data-team-_-outbreak-_-covid19-_-data-_-openafrica-uploads-_-kenya-healthworkers.csv'

healthworkers = pd.read_csv(url)

In [10]:
#Preview the dataset
healthworkers.head()

            County  Core health workforce per 10,000\rpopulation
0          Baringo                                          10.6
1            Bomet                                           8.9
2          Bungoma                                           8.5
3            Busia                                          11.9
4  Elgeyo-marakwet                                           9.9

In [11]:
# Loading the population per county dataset
url = 'https://data.humdata.org/dataset/fa58ed8d-1daa-48b6-bae1-19746c32c85f/resource/82f909ce-7358-48da-9639-8fe9c3318251/download/2019-population_census-report-per-county.csv'
population = pd.read_csv(url)

In [12]:
# Preview population dataset
population.head()

            County Total_Population19  ... Pop_change Intersex population 2019
0          Baringo           666,763   ...   111,202                        13
1            Bomet           875,689   ...   151,503                        23
2          Bungoma         1,670,570   ...    39,636                        35
3            Busia           893,681   ...   405,606                        28
4  Elgeyo-Marakwet           454,480   ...    84,482                        12

[5 rows x 11 columns]

# Getting information about our dataset

In [13]:
# info regarding the hospitals dataset
hospitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10505 entries, 0 to 10504
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Facility Code            10505 non-null  int64
 1   Facility Name            10505 non-null  object
 2   Province                 10505 non-null  object
 3   County                   10505 non-null  object
 4   District                 10505 non-null  object
 5   Division                 10238 non-null  object
 6   Type                     10505 non-null  object
 7   Owner                    10505 non-null  object
 8   Location                 10010 non-null  object
 9   Sub Location             9613 non-null   object
 10  Description of Location  5304 non-null   object
 11  Constituency             10505 non-null  object
 12  Nearest Town             9903 non-null   object
 13  Beds                     10418 non-null  float64
 14  Cots                     10428 non-null  float64
 15  Official Landline        1367 non-null   object
 16  Official Fax             540 non-null    object
 17  Official Mobile          2915 non-null   object
 18  Official Email           1858 non-null   object
 19  Official Address         7047 non-null   object
 20  Official Alternate No    952 non-null    float64
 21  Town                     7838 non-null   object
 22  Post Code                6680 non-null   object
 23  In Charge                8365 non-null   object
 24  Job Title of in Charge   7406 non-null   object
 25  Open 24 Hours            10058 non-null  object
 26  Open Weekends            10048 non-null  object
 27  Operational Status       10505 non-null  object
 28  ANC                      0 non-null      float64
 29  ART                      921 non-null    object
 30  BEOC                     0 non-null      float64
 31  BLOOD                    0 non-null      float64
 32  CAES SEC                 0 non-null      float64
 33  CEOC                     0 non-null      float64
 34  C-IMCI                   1177 non-null   object
 35  EPI                      0 non-null      float64
 36  FP                       4288 non-null   object
 37  GROWM                    0 non-null      float64
 38  HBC                      2798 non-null   object
 39  HCT                      0 non-null      float64
 40  IPD                      3943 non-null   object
 41  OPD                      0 non-null      float64
 42  OUTREACH                 0 non-null      float64
 43  PMTCT                    0 non-null      float64
 44  RAD/XRAY                 0 non-null      float64
 45  RHTC/RHDC                0 non-null      float64
 46  TB DIAG                  0 non-null      float64
 47  TB LABS                  0 non-null      float64
 48  TB TREAT                 0 non-null      float64
 49  YOUTH                    0 non-null      float64
dtypes: float64(20), int64(1), object(29)
memory usage: 4.0+ MB

The hospitals dataframe has <b>29 columns and 10505 hospitals</b>. <b><i> Division, Location, sub_location, beds, cots, official fax, official mobile, official address, official landline, official alternate no., town, postcode, in charge, job title of incharge, open 24hrs, open weekends, ART, C-IMCI, FP, HBC and IPD</i></b> have null values.<b><i>ANC, BLOOD, BEOC, CAES SEC, CEOC, EPI, GROWM, HCT, OPD, OUTREACH, PMTC, RAD/XRAY, RHTC/RHDC, TB DIAG, TB LABS, TB TREAT and YOUTH</i></b> have no values.

In [14]:
# Info regarding icebeds dataset
icubeds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Unnamed: 0                              0 non-null      float64
 1   Number of Hospital ICU Beds per county  100 non-null    object
 2   Unnamed: 2                              100 non-null    object
 3   Unnamed: 3                              99 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.2+ KB

The icubeds dataframe has 4 columns and 100 entries. <b>unnamed: 3</b> coulmn has one null value.

In [15]:
# Info regarding healthworkers dataset
healthworkers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   County                                       48 non-null     object
population  48 non-null     float64
dtypes: float64(1), object(1)
memory usage: 896.0+ bytes

The healthworkers dataframe has 2 columns and 48 entries. None of the columns have null values.

In [16]:
# Info regarding population dataset
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   County                    47 non-null     object
 1   Total_Population19        47 non-null     object
 2   Male populatio 2019       47 non-null     object
 3   Female population 2019    47 non-null     object
 4   Households                47 non-null     object
 5   Av_HH_Size                47 non-null     int64
 6   LandArea                  47 non-null     object
 7   Population Density        47 non-null     object
 8   Population in 2009        47 non-null     object
 9   Pop_change                47 non-null     object
 10  Intersex population 2019  47 non-null     int64
dtypes: int64(2), object(9)
memory usage: 4.2+ KB

The population dataframe has 11 columns and 47 entries representing the 47 counties. There are no missing values in this dataframe.

# DATA PREPARATION

We are first going to drop unnecessary columns in each dataset then merge our dataframes based on similarities.

In [17]:
hospitals.columns

Index(['Facility Code', 'Facility Name', 'Province', 'County', 'District',
       'Division', 'Type', 'Owner', 'Location', 'Sub Location',
       'Description of Location', 'Constituency', 'Nearest Town', 'Beds',
       'Cots', 'Official Landline', 'Official Fax', 'Official Mobile',
       'Official Email', 'Official Address', 'Official Alternate No', 'Town',
       'Post Code', 'In Charge', 'Job Title of in Charge', 'Open 24 Hours',
       'Open Weekends', 'Operational Status', 'ANC', 'ART', 'BEOC', 'BLOOD',
       'CAES SEC', 'CEOC', 'C-IMCI', 'EPI', 'FP', 'GROWM', 'HBC', 'HCT', 'IPD',
       'OPD', 'OUTREACH', 'PMTCT', 'RAD/XRAY', 'RHTC/RHDC', 'TB DIAG',
       'TB LABS', 'TB TREAT', 'YOUTH'],
      dtype='object')

In [18]:
population.columns

Index(['County', 'Total_Population19', 'Male populatio 2019',
       'Female population 2019', 'Households', 'Av_HH_Size', 'LandArea',
       'Population Density', 'Population in 2009', 'Pop_change',
       'Intersex population 2019'],
      dtype='object')

In [19]:
icubeds.columns

Index(['Unnamed: 0', 'Number of Hospital ICU Beds per county', 'Unnamed: 2',
       'Unnamed: 3'],
      dtype='object')

In [20]:
# Dropping irrelevant columns

# Create a function to drop tables
def drop_columns(dataframe, columns):
  # Use the drop method on the dataframe to drop a list of columns
  dataframe.drop(columns, axis=1, inplace=True)
  # Return the dataframe without the dropped columns
  return dataframe.head()

hospitals_columns = ['Official Fax', 'Official Mobile', 'Official Address', 'Official Landline', 
                     'Official Alternate No','Official Email', 'Description of Location', 'Town','Post Code', 'In Charge', 
                     'Job Title of in Charge','Division', 'Location', 'Sub Location','ANC', 'BLOOD', 'BEOC', 
                     'CAES SEC', 'CEOC', 'EPI', 'GROWM', 'HCT', 'OPD', 'OUTREACH', 'PMTCT', 'RAD/XRAY', 'RHTC/RHDC', 
                     'TB DIAG', 'TB LABS', 'TB TREAT', 'YOUTH']

population_columns = ['Male populatio 2019','Female population 2019','Households','Av_HH_Size','LandArea', 
                      'Population Density','Population in 2009','Pop_change','Intersex population 2019'] 

icubeds_columns = ['Unnamed: 0', 'Unnamed: 2']
drop_columns(hospitals,hospitals_columns)
drop_columns(population, population_columns)
drop_columns(icubeds, icubeds_columns)

  Number of Hospital ICU Beds per county      Unnamed: 3
0                                 County  Number of beds
1                                  Kwale               6
2                                Mombasa              12
3                                Mombasa               6
4                                Mombasa               6

In [21]:
# For the icubeds dataset, we shall also drop the first row
icubeds.drop([0], inplace=True)
icubeds.head()
 
# We shall the group by county and sum number of icubeds
icubeds = icubeds.groupby('Number of Hospital ICU Beds per county')[['Unnamed: 3']].sum()
icubeds.head(10)

                                        Unnamed: 3
Number of Hospital ICU Beds per county
Baringo                                          0
Bomet                                            0
Bungoma                                         23
Busia                                            0
Embu                                             5
Garissa                                          6
Homa Bay                                         0
Isiolo                                           0
Kajiado                                          0
Kakamega                                         9

In [22]:
# merge hospitals dataset with healthworkers dataset by county.
hospitals_healthworkers = hospitals.merge(healthworkers, how= 'inner', on = 'County')
hospitals_healthworkers.head(2)

   Facility Code  ... Core health workforce per 10,000\rpopulation
0          19224  ...                                         21.2
1          11943  ...                                         21.2

[2 rows x 20 columns]

In [23]:
# Let us now merge the hospitals_healthworkers dataset with population dataset
hospitals_healthworkers_pop = hospitals_healthworkers.merge(population, how='inner', on='County')
hospitals_healthworkers_pop.head(2)

   Facility Code  ... Total_Population19
0          19224  ...           608,599
1          11943  ...           608,599

[2 rows x 21 columns]

In [24]:
# Let us now merge the hospitals_healthcare_pop dataset with icubeds dataset
hospitals = hospitals_healthworkers_pop.merge(icubeds, how='inner', left_on='County', 
                                                          right_on='Number of Hospital ICU Beds per county')
hospitals.head(2)

   Facility Code            Facility Name  ... Total_Population19 Unnamed: 3
0          19224   CDF Kiriari Dispensary  ...           608,599           5
1          11943       Baraka Afya Clinic  ...           608,599           5

[2 rows x 22 columns]

In [25]:
# Display the columns of our dataset
hospitals.columns

Index(['Facility Code', 'Facility Name', 'Province', 'County', 'District',
       'Type', 'Owner', 'Constituency', 'Nearest Town', 'Beds', 'Cots',
       'Open 24 Hours', 'Open Weekends', 'Operational Status', 'ART', 'C-IMCI',
       'FP', 'HBC', 'IPD', 'Core health workforce per 10,000\rpopulation',
       'Total_Population19', 'Unnamed: 3'],
      dtype='object')

In [26]:
# We shall rename and rearrange our columns

# Renaming our columns
hospitals.columns = ['Facility Code', 'Facility Name', 'Province', 'County', 'District',
       'Hospital Type', 'Owner', 'Constituency', 'Nearest Town', 'No of Beds', 'No of Cots', 'Open 24 Hours', 'Open Weekends', 'Operational Status', 'ART', 'C-IMCI', 'FP', 'HBC', 'IPD',
       'Core health workforce per 10,000 population', 'Total Population', 'No of ICU beds']

# Rearranging our columns
hospitals = hospitals[['Facility Code', 'Facility Name', 'Hospital Type', 'Owner', 
                                               'No of Beds', 'No of Cots', 'No of ICU beds', 'Open 24 Hours',
                                               'Open Weekends', 'Operational Status', 'ART', 'C-IMCI', 'FP', 
                                               'HBC', 'IPD', 'Core health workforce per 10,000 population', 
                                               'Total Population', 'County',  'Province',  'District', 
                                               'Constituency', 'Nearest Town']]
hospitals.head(2)

   Facility Code            Facility Name  ... Constituency     Nearest Town
0          19224   CDF Kiriari Dispensary  ...     MANYATTA  Kiriari -market
1          11943       Baraka Afya Clinic  ...     MANYATTA              Ena

[2 rows x 22 columns]

In [27]:
# Let's get information about our dataset
hospitals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9046 entries, 0 to 9045
Data columns (total 22 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Facility Code                                9046 non-null   int64
 1   Facility Name                                9046 non-null   object
 2   Hospital Type                                9046 non-null   object
 3   Owner                                        9046 non-null   object
 4   No of Beds                                   8987 non-null   float64
 5   No of Cots                                   9005 non-null   float64
 6   No of ICU beds                               9046 non-null   int64
 7   Open 24 Hours                                8642 non-null   object
 8   Open Weekends                                8630 non-null   object
 9   Operational Status                           9046 non-null   object
 10  ART                                          805 non-null    object
 11  C-IMCI                                       994 non-null    object
 12  FP                                           3653 non-null   object
 13  HBC                                          2419 non-null   object
 14  IPD                                          3298 non-null   object
 15  Core health workforce per 10,000 population  9046 non-null   float64
 16  Total Population                             9046 non-null   object
 17  County                                       9046 non-null   object
 18  Province                                     9046 non-null   object
 19  District                                     9046 non-null   object
 20  Constituency                                 9046 non-null   object
 21  Nearest Town                                 8514 non-null   object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.6+ MB

In [28]:
# Describing our dataset
hospitals.describe()

       Facility Code  ...  Core health workforce per 10,000 population
count    9046.000000  ...                                  9046.000000
mean    15781.266527  ...                                    17.083617
std      3253.034616  ...                                     6.872795
min     10001.000000  ...                                     5.200000
25%     12952.250000  ...                                    10.600000
50%     15853.500000  ...                                    18.200000
75%     18636.750000  ...                                    22.600000
max     21281.000000  ...                                    31.000000

[8 rows x 5 columns]

# DATA CLEANING

## a.) Validity

In [29]:
#Procedure 1: Irrelevant data
# Data cleaning action: Drop columns 
# Explanation: Not required

columns = ['District','Province']
drop_columns(hospitals, columns)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   Facility Code  ...     Nearest Town
0          19224  ...  Kiriari -market
1          11943  ...              Ena
2          17882  ...              NaN
3          17835  ...    Ngiiri Market
4          11984  ...             Embu

[5 rows x 20 columns]

In [30]:
#Procedure 1:
# Data cleaning action: Check whitespaces
# Explanation:
hospitals['Facility Name'] = hospitals['Facility Name'].str.strip()
hospitals['County'] = hospitals['County'].str.strip()
hospitals['Hospital Type'] = hospitals['Hospital Type'].str.strip()
hospitals['Owner'] = hospitals['Owner'].str.strip()
hospitals['Operational Status'] = hospitals['Operational Status'].str.strip()
hospitals['Nearest Town'] = hospitals['Nearest Town'].str.strip()

In [31]:
hospitals = pd.read_csv('/content/ehealth.csv')

In [37]:
#vi.What is the percentage (%) of private and government owned hospitals per county?

#First we view the data for the column 'Owner'
col_list = ["Owner"]
hospital = pd.read_csv('/content/ehealth.csv', usecols=col_list)
print(hospital["Owner"])

0                                     Ministry of Health
1                         Private Practice - Unspecified
2                                           Armed Forces
3                                     Ministry of Health
4                    Private Practice - Clinical Officer
                              ...
10500              Christian Health Association of Kenya
10501                                 Ministry of Health
10502                   Private Enterprise (Institution)
10503    Kenya Episcopal Conference-Catholic Secretariat
10504                Private Practice - Clinical Officer
Name: Owner, Length: 10505, dtype: object

In [34]:
#Secondly, we view the data for "County"

col_list = ["County"]
hospital = pd.read_csv('/content/ehealth.csv', usecols=col_list)
print(hospital["County"])

0                Embu
1             Nairobi
2            Laikipia
3              Kiambu
4             Kajiado
             ...
10500     Uasin Gishu
10501     Uasin Gishu
10502    Taita Taveta
10503           Kitui
10504           Kitui
Name: County, Length: 10505, dtype: object

In [42]:
from pandas.core.frame import DataFrame
#Thirdly, we view both dataframes "Owner" and "County"

hospitals.groupby(['Owner', 'County'][['Facility code']]).count()

TypeError: ignored

In [ ]:
#vii.What is the maximum number of patients that can be serviced in a county?

In [ ]:
#Graph showing the number of patients served in each county

import pandas as pd
import numpy as np
import pandas_datareader as pdr
import matplotlib.pyplot as plt
from matplotlib.widgets import Button
from matplotlibimport rcParams

## b.) Accuracy

## c.) Completness

## d.) Consistency

## e.) Uniformity

In [6]:
import streamlit as st
import pandas as pd

import streamlit as st
import pandas as pd
import numpy as np
import altair as alt
import pydeck as pdk

# SETTING PAGE CONFIG TO WIDE MODE
st.set_page_config(layout="wide")

# LOADING DATA
DATE_TIME = "date/time"
#DATA_URL = (
#    "http://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz"
#)

@st.experimental_memo
def load_data(nrows):
    data = pd.read_csv("uber-raw-data-sep14.csv.gz", nrows=nrows)
    lowercase = lambda x: str(x).lower()
    data.rename(lowercase, axis="columns", inplace=True)
    data[DATE_TIME] = pd.to_datetime(data[DATE_TIME])
    return data

data = load_data(100000)

streamlit run hello.py

SyntaxError: ignored

In [7]:
!pip install streamlit

Requirement already satisfied: streamlit in /usr/local/lib/python3.7/dist-packages (1.5.1)
Requirement already satisfied: blinker in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.4)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.3.5)
Requirement already satisfied: base58 in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.1.1)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (5.1.1)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.4.0)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.4)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.0.1)
Requirement already satisfied: watchdog in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.1.6)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from streamlit) (6.0.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.10.0.2)
Requirement already satisfied: toml in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.8.2)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.1.27)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.3)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.8.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: validators in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.18.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.23.0)
Requirement already satisfied: protobuf!=3.11,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.17.3)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.7.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.21.5)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.11.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython!=3.1.19->streamlit) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (4.11.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.0->altair>=3.2.0->streamlit) (3.7.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.0->streamlit) (2018.9)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf!=3.11,>=3.6.0->streamlit) (1.15.0)
Requirement already satisfied: traitlets>=4.3.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (5.1.1)
Requirement already satisfied: ipykernel>=5.1.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (6.9.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (7.6.5)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.3)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: jupyter-client<8.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.3.5)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (7.31.1)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.5.4)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.18.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (3.0.28)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.6.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.1.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.0.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.5.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.9.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (22.3.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.3.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.8.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.13.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (4.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->streamlit) (3.0.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2021.10.8)

In [11]:
pgrep streamlit

SyntaxError: ignored